<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Подтвердение получения заявки</title>

</head>
   <body>
       <div>         Здравствуйте, {name} {patronymic}! </div>
       <br />
       <br />
       <div> Оргкомитет Летней научной школы "Введение в нейробиологию внимания и памяти" получил вашу заявку. </div>
       <br />
       <br />
       <div> С уважением, Оргкомитет </div>
       <div> Мысин Иван Евгеньевич, </div>
       <div> Попова Ирина Юрьевна </div>
   </body>
</html>