{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

{% if debug == False or True %}
  <!-- Yandex.Metrika counter  -->
  <script type="text/javascript" nonce="{{request.csp_nonce}}">
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
     m[i].l=1*new Date();
     for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
     k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(96172479, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
     });
  </script> 
  <noscript><div><img src="https://mc.yandex.ru/watch/96172479" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
{% endif %}

<title>{{ title }}</title>
<link rel="shortcut icon" href="{% static 'main/images/ico.jpg' %}" type="image/jpg">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"  content="width=device-width, user-scalable=yes" />
<!-- initial-scale=1.0, , maximum-scale=1.0-->
<link href="{% static 'main/styles/style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'main/styles/sss.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'main/styles/chosen.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'main/styles/touchTouch.css' %}" rel="stylesheet" type="text/css" media="all">

<script type="text/javascript" src="{% static 'main/js/jquery-1.9.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/sss.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/parsley.min.js' %}"></script>

<script type="text/javascript" nonce="{{request.csp_nonce}}">
  var jQuery_1_9_0 = $.noConflict(true);
  //jQuery_1_9_0(function($) {
  jQuery_1_9_0( document ).ready(function($) {
    $('.slider').sss();
    $('#send_participation_query').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
      $('.bs-callout-info').toggleClass('hidden', !ok);
      $('.bs-callout-warning').toggleClass('hidden', ok);
    }).on('form:submit', function() {
      return true;
    });
  });
</script>

</head>
<body>
<div class="main">
  <div class="header">
    <div class=title>
      <span>{{big_title_text}}</span> <br> <span class=sub_title>{{little_titlt_text}}</span>
    </div>
    <div class="clr"></div>
    <div class="menu_nav">
        <ul>
          <!--<li><a href="home><span>Главная</span></a></li>
          <li><a  orgs' }"><span>Организаторы</span></a></li>
          <li><a  lectors' }"><span>Лекторы</span></a></li>
          <li><a  history' }"><span>История</span></a></li>

          <li><a partners><span>Партнеры</span></a></li>
          <li><a dates ><span>Ключевые даты</span></a></li>
          <li><a payment ><span>Оргвзносы</span></a></li>

          <li><a href="url "faqs" "><span>Чаво</span></a></li> -->
          {% for nav_link in nav_links_top %}
            {% if nav_link.page_type == 'form' %}
              <li><a href="{{nav_link.link}}" class="send_link"><span>{{nav_link.name}}</span></a></li>
            {% else %}
              <li><a href="{{nav_link.link}}"><span>{{nav_link.name}}</span></a></li>
            {% endif %}
          {% endfor %}
          <!-- <li><a href={ url "send_application" } class="send_link"> Подать заявку  </a> </li> -->
        </ul>
      </div>
    <div class="clr"></div>
    <div class="header_resize">
        <div class="slider">
          {% for img in header_gallery %}
            {% if img.path_to_photo%}
              <img src="{{img.path_to_photo}}" alt="" />
            {% elif img.url and not img.path_to_photo %}
              <img src="{{img.url}}" alt="" />
            {% endif %}
          {% endfor %}
        </div>


      <!-- <div class="logo">
       
      </div> -->
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">

        {% block content %}
        {% endblock %}
        

      </div>
      <div class="sidebar">
      <div class="clr"></div>

      <div class="gadget">
          <h2 class="star"><span>Меню</span></h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            {% for nav_link in nav_links_left %}
              {% if nav_link.page_type == 'form' %}
                <li><a href="{{nav_link.link}}" class="send_link_left"><span>{{nav_link.name}}</span></a></li>
              {% else %}
                <li><a href="{{nav_link.link}}"><span>{{nav_link.name}}</span></a></li>
              {% endif %}
            {% endfor %}
            <!-- <li><a href= url "orgs"> Организаторы</a></li>
            <li><a href= url "lectors"}> Лекторы </a> </li>
            <li><a href= url "partners" > Партнеры</a></li>
            <li><a href= url "dates"> Ключевые даты </a></li>
            <li><a href= url "faqs"> ЧаВо </a></li>
            <li><a href=url "send_application"  class="send_link_left"> Подать заявку  </a> </li> -->
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Галерея</span></h2>
        <div class="thumbs" data-gallery="one">

          {% for img in common_gallery %}

            {% if forloop.counter < 7 %}
              {% if img.path_to_photo %}
                <a href={{img.path_to_photo}} style="background-image:url({{img.path_to_photo}}); width:75px; height:75px;" class="gal"> </a>
              {% elif img.url and not img.path_to_photo %}
                <a href={{img.url}} style="background-image:url({{img.url}}); width:75px; height:75px;" class="gal"> </a>
              {% endif %}
            {% else %}
              {% if img.path_to_photo %}
                <a href={{img.path_to_photo}} > </a>
              {% elif img.url and not img.path_to_photo %}
                <a href={{img.url}}> </a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col c2">
        <h2><span>Наши соцсети</span></h2>
        <p>Вы можете узнать больше о Летней школе и нашей лаборатории из наших соцсетей</p>
        <ul class="fbg_ul">
          <li><a href="https://vk.com/labson">ВК: группа LabSON</a></li>
          <li><a href="https://www.youtube.com/@labson1263">Youtube: канал LabSON</a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Наши контакты</span></h2>
        <p>Федеральное государственное бюджетное учреждение науки Институт теоретической и экспериментальной биофизики Российской академии наук (ИТЭБ РАН)</p>
        <p class="contact_info">
          {% for contact in contacts %}
          <span>{{contact.site_subscript}}</span>
            {% if contact.contact_type == 'another'%} 
              {{contact.contact}}<br />
            {% elif contact.contact_type == 'link' %}
              <a href="{{contact.contact}}">{{contact.contact}}</a><br />
            {% elif contact.contact_type == 'email' %}
              <a href="mailto:{{contact.contact}}">{{contact.contact}}</a><br />
            {% elif contact.contact_type == 'phone' %}
              <a href="tel:{{contact.contact}}">{{contact.contact}}</a><br />
            {% endif %}

          <!--<span>Адрес:</span>Россия, Московская область, г. Пущино, ул. Институтская 3</br>
          <span>Телефон:</span> +123-1234-5678<br />
          <span>Почта:</span> <a href="mailto:hippocampus.psn@gmail.com">hippocampus.psn@gmail.com</a> <br />
          <span>Сайт:</span> <a href="http://hippocampus.iteb.ru">hippocampus.iteb.ru</a><br />
          <span>Сайт института:</span> <a href="https://iteb.ru">iteb.ru</a><br /> -->
          {% endfor %}
        </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">Домен &copy; <a href="#">labson.ru</a>. Все права защищены</p> 
    </div>
  </div>
</div>
</body>

<script type="text/javascript" src="{% static 'main/js/jquery-3.6.3.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'main/js/touchTouch.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/vcollapse.js' %}"></script>
<script type="text/javascript" nonce="{{request.csp_nonce}}">
    $( document ).ready(function() {
      // Initialize the gallery
      $('.thumbs a').touchTouch();

      // Initialize the accordion for FAQs
      $('.accordion').vCollapse({
        'any': true,
        'onLoad': 'none',
        'speed': 300,
        'easing': 'ease-in-out',
        //'autoScroll': true,
      });
    });
</script>

</html>
