{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{% block title %} {% endblock %}</title>
<link rel="shortcut icon" href="{% static 'main/images/ico.jpg' %}" type="image/jpg">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
<link href="{% static 'main/styles/style.css' %}" rel="stylesheet" type="text/css" />
<!-- <link rel="stylesheet" type="text/css" href="{% static 'main/styles/coin-slider.css' %}" /> -->
<link href="{% static 'main/styles/sss.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'main/styles/chosen.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'main/styles/touchTouch.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- <script type="text/javascript" src="js/cufon-yui.js"></script> -->
<!-- <script type="text/javascript" src="{% static 'main/js/droid_sans_400-droid_sans_700.font.js' %}"></script>-->
<!-- <script type="text/javascript" src="{% static 'main/js/jquery-1.4.2.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'main/js/jquery-1.9.0.min.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'main/js/coin-slider.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'main/js/sss.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/parsley.min.js' %}"></script>

<script type="text/javascript">
  var jQuery_1_9_0 = $.noConflict(true);
  jQuery_1_9_0(function($) {
    $('.slider').sss();
    $('#send_participation_query').parsley().on('field:validated', function() {
      var ok = $('.parsley-error').length === 0;
      $('.bs-callout-info').toggleClass('hidden', !ok);
      $('.bs-callout-warning').toggleClass('hidden', ok);
    })
    .on('form:submit', function() {
      return true; // Don't submit form for this demo
    });
  });
</script>

</head>
<body>
<div class="main">
  <div class="header">
    <div class=title>
      <span>Летняя научная школа "Введение в нейробиологию внимания и памяти" им. О.С. Виноградовой</span> <br> <span class=sub_title>5 - 16 августа 2024 г.</span>
    </div>
    <div class="clr"></div>
    <div class="menu_nav">
        <ul>
          <li><a href="{% url 'home' %}"><span>Главная</span></a></li>
          <li><a href="{% url 'orgs' %}"><span>Организаторы</span></a></li>
          <li><a href="{% url 'lectors' %}"><span>Лекторы</span></a></li>
          <!--<li><a href="{ url 'history' }"><span>История</span></a></li>

          <li><a href="{ url "partners" }"><span>Партнеры</span></a></li>
          <li><a href="{ url "dates" }"><span>Ключевые даты</span></a></li>
          <li><a href="{ url "payment" }"><span>Оргвзносы</span></a></li>

          <li><a href="{% url "faqs" %}"><span>Чаво</span></a></li> -->
          {% for nav_link in nav_links %}
            <li><a href="{{nav_link.link}}"><span>{{nav_link.name}}</span></a></li>
          {% endfor %}
          <li><a href={% url "send_application" %} class=send_link> Подать заявку  </a> </li>
        </ul>
      </div>
    <div class="clr"></div>
    <div class="header_resize">
        <div class="slider"> <!-- id="coin-slider"

          <img src="{% static 'main/images/header_slider/5Ftps8giBe0.jpg' %}" width="960" height="500" alt="" />
          <img src="{% static 'main/images/header_slider/tK7ydAaI_tA.jpg' %}" width="960" height="500" alt="" />-->
          {% for img in header_gallery %}
            {% if img.path_to_photo%}
              <img src="{{img.path_to_photo}}" alt="" />
            {% elif img.url and not img.path_to_photo %}
              <img src="{{img.url}}" alt="" />
            {% endif %}
          {% endfor %}
        </div>


      <!-- <div class="logo">
       
      </div> -->
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">

        {% block content %}
        {% endblock %}
        

      </div>
      <div class="sidebar">
      <div class="clr"></div>

      <div class="gadget">
          <h2 class="star"><span>Меню</span></h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><a href={% url "home" %}> Главная </a></li>
            <li><a href={% url "orgs" %}> Организаторы</a></li>
            <li><a href={% url "lectors" %}> Лекторы </a> </li>
            <li><a href={% url "partners" %}> Партнеры</a></li>
            <li><a href={% url "dates" %}> Ключевые даты </a></li>
            <!--<li><a href={ url "lodging" }> Размещение </a></li>
            <li><a href={ url "payment" }> Оргвзнос </a></li>
            <li><a href={ url "contacts" }> Контакты </a></li>
            <li><a href={ url "history" }> История </a></li>-->
            <li><a href={% url "faqs" %}> ЧаВо </a></li>
            <li><a href={% url "send_application" %} class=send_link> Подать заявку  </a> </li>
          </ul>
        </div>
        <!--
        <div class="gadget">
          <h2 class="star"><span>Sponsors</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="#">Lorem ipsum dolor</a><br />
              Donec libero. Suspendisse bibendum</li>
            <li><a href="#">Dui pede condimentum</a><br />
              Phasellus suscipit, leo a pharetra</li>
            <li><a href="#">Condimentum lorem</a><br />
              Tellus eleifend magna eget</li>
            <li><a href="#">Fringilla velit magna</a><br />
              Curabitur vel urna in tristique</li>
            <li><a href="#">Suspendisse bibendum</a><br />
              Cras id urna orbi tincidunt orci ac</li>
            <li><a href="#">Donec mattis</a><br />
              purus nec placerat bibendum</li>
          </ul>
        </div> -->
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Галерея</span></h2>
        <div class="thumbs" data-gallery="one">
          <!--<a href={% static 'main/images/gallery/gal1.jpg' %}  style="background-image:url({% static 'main/images/gallery/gal1.jpg' %}); width:75px; height:75px;" class="gal"> </a>
          <a href={% static 'main/images/gallery/gal2.jpg' %}  style="background-image:url({% static 'main/images/gallery/gal2.jpg' %}); width:75px; height:75px;" class="gal"> </a>
          <a href={% static 'main/images/gallery/gal3.jpg' %}  style="background-image:url({% static 'main/images/gallery/gal3.jpg' %}); width:75px; height:75px;" class="gal"> </a>
          <a href={% static 'main/images/gallery/gal4.jpg' %}  style="background-image:url({% static 'main/images/gallery/gal4.jpg' %}); width:75px; height:75px;" class="gal"> </a>
          <a href={% static 'main/images/gallery/gal5.jpg' %}  style="background-image:url({% static 'main/images/gallery/gal5.jpg' %}); width:75px; height:75px;" class="gal"> </a>
          <a href={% static 'main/images/gallery/gal6.jpg' %}  style="background-image:url({% static 'main/images/gallery/gal6.jpg' %}); width:75px; height:75px;" class="gal"> </a> -->
          {% for img in common_gallery %}

            {% if forloop.counter < 7 %}
              {% if img.path_to_photo %}
                <a href={{img.path_to_photo}} style="background-image:url({{img.path_to_photo}}); width:75px; height:75px;" class="gal"> </a>
              {% elif img.url and not img.path_to_photo %}
                <a href={{img.url}} style="background-image:url({{img.url}}); width:75px; height:75px;" class="gal"> </a>
              {% endif %}
            {% else %}
              {% if img.path_to_photo %}
                <a href={{img.path_to_photo}} > </a>
              {% elif img.url and not img.path_to_photo %}
                <a href={{img.url}}> </a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col c2">
        <h2><span>Наши соцсети</span></h2>
        <p>Вы можете узнать больше о Летней школе и нашей лаборатории из наших соцсетей</p>
        <ul class="fbg_ul">
          <li><a href="https://vk.com/labson">ВК: группа LabSON</a></li>
          <li><a href="https://www.youtube.com/@labson1263">Youtube: канал LabSON</a></li>
        </ul>
      </div>
      <div class="col c3">
        <h2><span>Наши контакты</span></h2>
        <p>Федеральное государственное бюджетное учреждение науки Институт теоретической и экспериментальной биофизики Российской академии наук (ИТЭБ РАН)</p>
        <p class="contact_info">
          {% for contact in contacts %}
          <span>{{contact.site_subscript}}</span>
            {% if contact.contact_type == 'another'%} 
              {{contact.contact}}<br />
            {% elif contact.contact_type == 'link' %}
              <a href="{{contact.contact}}">{{contact.contact}}</a><br />
            {% elif contact.contact_type == 'email' %}
              <a href="mailto:{{contact.contact}}">{{contact.contact}}</a><br />
            {% elif contact.contact_type == 'phone' %}
              <a href="tel:{{contact.contact}}">{{contact.contact}}</a><br />
            {% endif %}

          <!--<span>Адрес:</span>Россия, Московская область, г. Пущино, ул. Институтская 3</br>
          <span>Телефон:</span> +123-1234-5678<br />
          <span>Почта:</span> <a href="mailto:hippocampus.psn@gmail.com">hippocampus.psn@gmail.com</a> <br />
          <span>Сайт:</span> <a href="http://hippocampus.iteb.ru">hippocampus.iteb.ru</a><br />
          <span>Сайт института:</span> <a href="https://iteb.ru">iteb.ru</a><br /> -->
          {% endfor %}
        </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">Домен &copy; <a href="#">labson.ru</a>. Все права защищены</p> 
      <!-- <p class="rf">Get More <a target="_blank" href="http://www.free-css.com/">Free CSS Templates</a> By <a target="_blank" href="http://www.dreamtemplate.com/">DreamTemplate</a></p> -->

    </div>
  </div>
</div>
</body>

<script type="text/javascript" src="{% static 'main/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/touchTouch.jquery.js' %}"></script>
<script type="text/javascript">
    // console.log($().jquery);
    $(function(){
      // Initialize the gallery
      $('.thumbs a').touchTouch();
    });
</script>

</html>
