{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Лекторы школы
{% endblock %}

{% block content %}
    <div class="article">
        <h2><span> Лекторы школы</span></h2>
        {% if lectors %}
            {% for lec in lectors %}
              <div class="clr"></div>
              <div class="img"><img src="{% static 'main/images/lectors_photo'%}{{lec.path_to_photo}}" width="156" height="207" alt="" class="fl" /></div>
              <div class="post_content">
                <div class="clr"></div>
                <p> <strong> {{lec.surname}} {{lec.name}} {{lec.patronymic}} </strong></p>
                <p> {{lec.degree}} </p>
                <p> {{lec.affilation}} </p>
              </div>

        {% endfor %}
    {% else %}
        <div class="clr"></div>
         <div class="post_content">
             <p> <strong> Ни одного лектора не добавлено  </strong></p>
        </div>
    {% endif %}



    </div>
{% endblock %}