{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Лекторы школы
{% endblock %}

{% block content %}
    {% if lectors %}
    <table>
        {% for lec in lectors %}
        <tr>
            {% if lec.path_to_photo == "" %}
                <th>   <img src="{% static 'main/images/orgs_photo/no_photo.jpeg'%}" style="width:100%"> </th>
            {% else %}
                <th>   <img src="{% static 'main/images/lectors_photo/'%}{{lec.path_to_photo}}" style="width:100%"> </th>
            {% endif %}
            <th>   {{lec.surname}} </th>
            <th>   {{lec.name}} </th>
            <th>   {{lec.patronymic}} </th>
            <th> <span class="small"> {{lec.affilation}} </span> </th>
            <th> <span class="small"> {{lec.degree}} </span> </th>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p><h3> Ни одного лектора не добавлено </h3></p>
    {% endif %}
{% endblock %}