{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Организаторы
{% endblock %}

{% block content %}
    <table>
        {% for org in orgs %}
        <tr>
            {% if org.photo == "" %}
                <th>   <img src="{% static 'main/images/orgs_photo/no_photo.jpeg'%}" style="width:100%"> </th>
            {% else %}
                <th>   <img src="{% static 'main/images/orgs_photo/'%}"{{no_photo.jpeg}} style="width:100%"> </th>
            {% endif %}
            <th>   {{org.name}} </th>
            <th>   {{org.surname}} </th>
            <th> <span class="small"> {{org.role}} </span> </th>
        </tr>
        {% endfor %}
    </table>

{% endblock %}