{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Оргкомитет Школы
{% endblock %}

{% block content %}
    <div class="article">
        <h2><span> Организаторы </span></h2>
        {% if orgs %}
            {% for org in orgs %}
              <div class="clr"></div>
              <div class="img"><img src="{% static 'main/images/orgs_photo/'%}{{org.path_to_photo}}" width="156" height="207" alt="" class="fl" /></div>
              <div class="post_content">
                <div class="clr"></div>
                <p> <strong> {{org.surname}} {{org.name}} {{org.patronymic}} </strong></p>
                <p> {{org.role}} </p>
              </div>

        {% endfor %}
    {% else %}
        <div class="clr"></div>
         <div class="post_content">
             <p> <strong> Ни одного организатора не добавлено  </strong></p>
        </div>
    {% endif %}



    </div>
{% endblock %}

