{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Партнеры школы
{% endblock %}


{% block content %}
    <div class="article">
        <h2><span> Партнеры </span></h2>
        {% if partners %}
            {% for par in partners %}
              <div class="clr"></div>
              <div class="img"><img src="{% static 'main/images/no_photo.jpeg' %}" width="156" height="207" alt="" class="fl" /></div>
              <div class="post_content">
                <div class="clr"></div>
                <p> <strong> {{par.organization_name}} </strong></p>
                <p> {{par.organization_description}} </p>
              </div>

        {% endfor %}
    {% else %}
        <div class="clr"></div>
         <div class="post_content">
             <p> <strong> У Школы пока нет партнеров. Будьте первым, <a href={% url "contacts" %}> напишите нам! </a> </strong></p>
        </div>
    {% endif %}



    </div>
{% endblock %}



