{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Партнеры школы
{% endblock %}

{% block content %}
    {% if partners %}
    <table>
        {% for par in partners %}
        <tr>
            {% if par.path_to_photo == "" %}
                <th>   <img src="{% static 'main/images/partners_photo/no_photo.jpeg'%}" style="width:100%"> </th>
            {% else %}
                <th>   <img src="{% static 'main/images/partners_photo/'%}{{par.path_to_photo}}" style="width:100%"> </th>
            {% endif %}

            <th> <h2> {{par.organization_name}} </h2> </th>
            <th> <span class="small"> {{par.role}} </span> </th>
            <th> <span class="small"> {{par.organization_description}} </span> </th>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p><h3> У Школы пока нет партнеров. Будьте первым, <a href={% url "contacts" %}> напишите нам! </a> </h3></p>
    {% endif %}
{% endblock %}