{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Форма заявки
{% endblock %}


{% block content %}
    {% if accept_applications == 'yes' %}
    <div class="article">
        <h2><span>Форма заявки на участие в школе</span></h2>
        <div class="clr"></div>
        <form method="post" action="{% url "accepted_application" %}" id="send_participation_query">
            {% csrf_token %}
            <ol>
                <li>
                    <label for="name"> Имя <br /><span class="subscript_field">(Поле обязательно для заполнения)</span> </label>
                    <input type="text" id="name" name="name" class="text form-control" data-parsley-required="true" data-parsley-trigger="keyup" data-parsley-minlength="2" data-parsley-error-message="Поле не запонено"/>

                </li>

                <li>
                    <label for="surname"> Фамилия  <br /><span class="subscript_field">(Поле обязательно для заполнения)</span> </label>
                    <input type="text" id="surname" name="surname" class="text form-control" data-parsley-required="true" data-parsley-trigger="keyup" data-parsley-minlength="2" data-parsley-error-message="Поле не запонено"/>
                </li>

                <li>
                    <label for="patronymic"> Отчество  <br /> <span class="subscript_field">(Поле обязательно для заполнения)</span> </label>
                    <input type="text" id="patronymic" name="patronymic" class="text form-control" data-parsley-required="true" data-parsley-trigger="keyup" data-parsley-minlength="2" data-parsley-error-message="Поле не запонено"/>

                </li>

                <li>
                    <label for="email"> Почта <br /> <span class="subscript_field">(Поле обязательно для заполнения)</span>  </label>
                    <input type="email" id="email" name="email" class="text form-control" data-parsley-required="true" data-parsley-type="email" data-parsley-trigger="change" data-parsley-error-message="Некорректный адрес почты" />
                </li>
                
                <li>
                    <label for="phone"> Телефон <br /> <span class="subscript_field">(Поле обязательно для заполнения)</span>  </label>
                    <input type="text" id="phone" name="phone" class="text" placeholder="Телефон"  data-parsley-required="true" data-parsley-trigger="keyup" data-parsley-minlength="2" data-parsley-error-message="Поле не запонено"/>
                </li>

                <li>
                    <label for="university"> Где вы учитесь? </label>
                    <!-- <input id="university" name="university" class="text" placeholder="Университет" /> -->
                    <select id="university" class="chosen-select" tabindex="2" name="university">
                        <option value="Ничего не выбрано"> </option>
                    {% block universities %}
                        {% include 'main/university_list.html' %}
                    {% endblock %}
                        <option value="Другой ВУз">Другой ВУЗ</option>
                    </select>
                </li>

                <li>
                    <label for="faculty"> Факультет/Кафедра/Направление и т.д. </label>
                    <input type="text" id="faculty" name="faculty" class="text" placeholder="Факультет" />
                </li>

                <li>
                    <label for="education_stage"> Стадия обучения </label>
                    <!-- <input id="education_stage" name="education_stage" class="text" placeholder="Стадия обучения" />-->
                    <select name="education_stage">
                        <option value="Не выбрано">Не выбрано</option>
                        <option value="1 курс бакалавриата">1-й курс бакалавриата</option>
                        <option value="2 курс бакалавриата">2-й курс бакалавриата</option>
                        <option value="3 курс бакалавриата">3-й курс бакалавриата</option>
                        <option value="4 курс бакалавриата">4-й курс бакалавриата</option>
                        <option value="1 курс магистратуры">1-й курс магистратуры</option>
                        <option value="2 курс магистратуры">2-й курс магистратуры</option>
                        <option value="1 курс аспирантуры">1-й курс аспирантуры</option>
                        <option value="2 курс аспирантуры">2-й курс аспирантуры</option>
                        <option value="3 курс аспирантуры">3-й курс аспирантуры</option>
                        <option value="4 курс аспирантуры">4-й курс аспирантуры</option>
                        <option value="Ординатура">Ординатура</option>
                        <option value="Кандидат наук">Кандидат наук</option>
                        <option value="Другое (поясню в разделе о себе)">Другое (поясню в разделе о себе)</option>
                    </select>
                </li>

                <li>
                    <label for="form_of_participation"> Выберете форму участия</label>
                    <select id="form_of_participation" name="form_of_participation">
                        <option value="Не выбрано">Не выбрано</option>
                        {% for format in formats%}
                        <option value="{{format}}">{{format}}</option>
                        
                        {% endfor %}
                    </select>
                </li>

                <li>
                    <label for="expirience"> Опишите ваш опыт в нейронауке, анализе данных, программировании или любой другой опыт релевантный тематике школы<br /> <span class="subscript_field">(Поле обязательно для заполнения. Не менее 10 и не более 5000 символов)</span> </label>
                    <textarea id="expirience" name="expirience" rows="8" cols="50" class="form-control"  data-parsley-required="true" data-parsley-trigger="keyup" data-parsley-minlength="10" data-parsley-maxlength="5000" data-parsley-minlength-message="Напишите нам что-нибудь о своем опыте в нейронауке (не менее 10 символов)" data-parsley-maxlength-message="Напишите не более 5000 символов"  data-parsley-validation-threshold="10" data-parsley-error-message="Поле не запонено (напишите не менее 10 символов)"></textarea>
                </li>

                <li>
                    <label for="about_participant"> Расскажите немного о себе <br /> <span class="subscript_field">(Поле обязательно для заполнения. Не менее 20 и не более 5000 символов)</span> </label>
                    <textarea id="about_participant" name="about_participant" rows="8" cols="50"  data-parsley-required="true" class="form-control" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="5000" data-parsley-minlength-message="Напишите нам что-нибудь о себе (не менее 20 символов)" data-parsley-maxlength-message="Напишите не более 5000 символов"  data-parsley-validation-threshold="10" data-parsley-error-message="Поле не запонено (напишите не менее 20 символов)"></textarea>
               </li>

                {% for task in tasks %}
                    <li>               
                        <h4> {{ task.title }} *</h4>
                        <p>
                            {{ task.text|safe }}
                        </p>
                        <span class="subscript_field">(Поле обязательно для заполнения. Не менее 20 и не более 5000 символов)</span>
                        <textarea name="answer_for_task_{{forloop.counter}}"  rows="8" cols="50" class="form-control"  data-parsley-required="true" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="5000" data-parsley-minlength-message="Напишите решение задачи (напишите не менее 20 символов)" data-parsley-maxlength-message="Напишите не более 5000 символов"  data-parsley-validation-threshold="10" data-parsley-error-message="Поле не запонено (напишите не менее 20 символов)"> </textarea> <br>
                    </li>
                {% endfor %}
                <li>
                    <button type="submit" class="send"> Отправить заявку</button>
                </li>
            </ol>
        </form>
    </div>
    <script src="{% static 'main/js/jquery-3.2.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/js/chosen.jquery.js' %}" type="text/javascript"></script>
    <!-- <script src="docsupport/prism.js" type="text/javascript" charset="utf-8"></script> -->
    <script src="{% static 'main/js/init.js' %}" type="text/javascript" charset="utf-8"></script>
    {% else %}
     <div class="article">
        <h2><span>Форма заявки на участие в школе</span></h2>
        <div class="clr"></div>
        <div class="post_content_no_photo">
            <div class="clr"></div>
            <p> Прием заявок закончился. </p>
        </div>
     </div>
    {% endif %}
{% endblock %}