{% block universities %}
<select id="university" class="chosen-select" tabindex="2">
    <option>Российский национальный исследовательский медицинский университет имени Н.И. Пирогова Минздрава России</option>
    <option>Московский государственный университет имени М.В. Ломоносова</option>
    <option>Московский физико-технический институт (национальный исследовательский университет)</option>
    <option>Санкт-Петербургский государственный университет</option>
    <option>Национальный исследовательский ядерный университет «МИФИ»</option>
    <option>Московский государственный технический университет имени Н.Э. Баумана (национальный исследовательский университет)</option>
    <option>"Национальный исследовательский университет "Высшая школа экономики"</option>
    <option>МГИМО МИД России</option>
    <option>Санкт-Петербургский политехнический университет Петра Великого</option>
    <option>Национальный исследовательский Томский политехнический университет</option>
    <option>Уральский федеральный университет имени первого Президента России Б.Н. Ельцина</option>
    <option>Новосибирский национальный исследовательский государственный университет</option>
    <option>Финансовый университет при Правительстве РФ</option>
    <option>Российская академия народного хозяйства и государственной службы при Президенте РФ</option>
    <option>Университет ИТМО</option>
    <option>Российский экономический университет имени Г.В. Плеханова</option>
    <option>Первый Московский государственный медицинский университет имени И.М. Сеченова Минздрава России</option>
    <option>Университет МИСИС</option>
    <option>Национальный исследовательский Томский государственный университет</option>
    <option>Российский университет дружбы народов имени Патриса Лумумбы</option>
    <option>Казанский (Приволжский) федеральный университет</option>
    <option>Московский авиационный институт (национальный исследовательский университет)</option>
    <option>"Национальный исследовательский университет ""МЭИ"""</option>
    <option> Сибирский федеральный университет</option>
    <option>Дальневосточный федеральный университет</option>
    <option>Российский государственный университет нефти и газа (национальный исследовательский университет) имени И.М. Губкина</option>
    <option>Московский государственный юридический университет имени О.Е. Кутафина (МГЮА)</option>
    <option>Первый Санкт-Петербургский государственный медицинский университет имени академика И.П. Павлова Минздрава России</option>
    <option>Санкт-Петербургский горный университет императрицы Екатерины II</option>
    <option>Южный федеральный университет</option>
    <option>Московский педагогический государственный университет</option>
    <option>Московский государственный лингвистический университет</option>
    <option>Национальный исследовательский Московский государственный строительный университет</option>
    <option>Всероссийская академия внешней торговли Министерства экономического развития РФ</option>
    <option>Национальный исследовательский Нижегородский государственный университет имени Н.И. Лобачевского</option>
    <option>Российский государственный педагогический университет имени А. И. Герцена</option>
    <option>"Санкт-Петербургский государственный электротехнический университет ""ЛЭТИ"" имени В.И. Ульянова (Ленина)"</option>
    <option>Санкт-Петербургский государственный экономический университет</option>
    <option>Белгородский государственный национальный исследовательский университет</option>
    <option>Казанский государственный медицинский университет Минздрава России</option>
    <option>Российский химико-технологический университет имени Д.И. Менделеева</option>
    <option>Воронежский государственный университет</option>
    <option>Новосибирский государственный технический университет</option>
    <option>Самарский национальный исследовательский университет имени академика С.П. Королёва</option>
    <option> Национальный медицинский исследовательский центр имени В.А. Алмазова</option>
    <option>Самарский государственный медицинский университет Минздрава России</option>
    <option>Казанский национальный исследовательский технический университет имени А.Н. Туполева-КАИ</option>
    <option>Российский государственный аграрный университет – МСХА имени К.А. Тимирязева</option>
    <option>Санкт-Петербургский государственный архитектурно-строительный университет</option>
    <option>Северо-Восточный федеральный университет имени М.К. Аммосова</option>
    <option>Уфимский государственный нефтяной технический университет</option>
    <option>МИРЭА - Российский технологический университет</option>
    <option>Южно-Уральский государственный университет (национальный исследовательский университет)</option>
    <option>Российский государственный гуманитарный университет</option>
    <option>Пермский национальный исследовательский политехнический университет</option>
    <option>Ставропольский государственный аграрный университет</option>
    <option>"Московский государственный технологический университет ""СТАНКИН"""</option>
    <option>Алтайский государственный университет</option>
    <option>Тюменский государственный университет</option>
    <option>Санкт-Петербургский государственный педиатрический медицинский университет Минздрава России</option>
    <option>Московский городской педагогический университет</option>
    <option>Южно-Российский государственный политехнический университет (НПИ) имени М.И. Платова</option>
    <option>Государственный университет просвещения (бывший Московский государственный областной университет)</option>
    <option>Сибирский государственный медицинский университет Минздрава России</option>
    <option>Белгородский государственный технологический университет имени В.Г. Шухова</option>
    <option>Томский государственный университет систем управления и радиоэлектроники</option>
    <option>Самарский государственный технический университет</option>
    <option>Технологический университет (г. Королёв)</option>
    <option>Балтийский федеральный университет имени Иммануила Канта</option>
    <option>Рязанский государственный медицинский университет имени академика И.П. Павлова Минздрава России</option>
    <option> Северо-Кавказский федеральный университет</option>
    <option>"Государственный университет ""Дубна"""</option>
    <option>Северо-Западный государственный медицинский университет имени И.И. Мечникова Минздрава России</option>
    <option>Казанский национальный исследовательский технологический университет</option>
    <option>Донской государственный технический университет</option>
    <option>Курский государственный медицинский университет Минздрава России</option>
    <option>Приволжский исследовательский медицинский университет Минздрава России</option>
    <option>Национальный исследовательский университет «МИЭТ»</option>
    <option>Саратовский национальный исследовательский государственный университет имени Н.Г. Чернышевского</option>
    <option>Петрозаводский государственный университет</option>
    <option>Башкирский государственный медицинский университет Минздрава России</option>
    <option>Московский государственный психолого-педагогический университет</option>
    <option>Тюменский индустриальный университет</option>
    <option>Волгоградский государственный технический университет</option>
    <option>Государственный социально-гуманитарный университет</option>
    <option>Государственный университет управления</option>
    <option>Волгоградский государственный университет</option>
    <option> Московский технический университет связи и информатики</option>
    <option>Воронежский государственный медицинский университет имени Н.Н. Бурденко Минздрава России</option>
    <option> Уральский государственный медицинский университет Минздрава России</option>
    <option>Московский политехнический университет</option>
    <option>Кабардино-Балкарский государственный университет имени Х.М. Бербекова</option>
    <option>Курский государственный университет</option>
    <option>Российский новый университет (РосНОУ)</option>
    <option>Кубанский государственный аграрный университет имени И.Т. Трубилина</option>
    <option> Волгоградский государственный медицинский университет Минздрава России</option>
    <option>Университет Реавиз</option>
    <option>Саратовский государственный медицинский университет имени В.И. Разумовского</option>
    <option>Санкт-Петербургский государственный морской технический университет</option>
    <option>Российская экономическая школа</option>
    <option>Владимирский государственный университет имени Александра Григорьевича и Николая Григорьевича Столетовых</option>
    <option>Ярославский государственный университет им. П.Г. Демидова</option>
    <option>Российский государственный университет правосудия</option>
    <option>Дипломатическая академия Министерства иностранных дел России</option>
    <option>Смоленский государственный медицинский университет Минздрава России</option>
    <option>Тульский государственный университет</option>
    <option>Ярославский государственный медицинский университет Минздрава России</option>
    <option>Литературный институт имени А.М. Горького</option>
    <option>Рязанский государственный радиотехнический университет имени В.Ф. Уткина</option>
    <option>Российская государственная академия интеллектуальной собственности</option>
    <option>Ивановская государственная медицинская академия Минздрава России</option>
    <option>Тверской государственный университет</option>
    <option>Московская государственная академия ветеринарной медицины и биотехнологии - МВА имени К.И. Скрябина</option>
    <option>Ивановский государственный энергетический университет имени В.И. Ленина</option>
    <option>Российский государственный социальный университет</option>
    <option>Московский государственный университет технологий и управления имени К.Г. Разумовского</option>
    <option>Славяно-Греко-Латинская Академия</option>
    <option>Московская высшая школа социальных и экономических наук</option>
    <option>Московский городской университет управления Правительства Москвы имени Ю.М.Лужкова</option>
    <option>Московский государственный университет геодезии и картографии</option>
    <option>Московский архитектурный институт</option>
    <option>Российская таможенная академия</option>
    <option>Государственный университет по землеустройству</option>
    <option>Государственный академический университет гуманитарных наук</option>
    <option>Академия труда и социальных отношений</option>
    <option>Всеросcийский государственный университет юстиции</option>
    <option>Липецкий государственный технический университет</option>
    <option>Костромской государственный университет</option>
    <option>Мичуринский государственный аграрный университет</option>
    <option>Институт стран Востока</option>
    <option>Елецкий государственный университет им. И.А. Бунина</option>
    <option>Тульский государственный педагогический университет им. Л.Н. Толстого</option>
    <option>Орловский государственный аграрный университет имени Н.В. Парахина</option>
    <option>Воронежский государственный университет инженерных технологий</option>
    <option>Ярославский государственный педагогический университет им. К.Д. Ушинского</option>
    <option>Рязанский государственный агротехнологический университет имени П.А.Костычева</option>
    <option>Воронежский государственный аграрный университет имени императора Петра I</option>
    <option>Белгородский государственный аграрный университет имени В.Я. Горина</option>
    <option>Ивановский государственный университет</option>
    <option>Российский государственный геологоразведочный университет имени Серго Орджоникидзе</option>
    <option>Воронежский институт высоких технологий</option>
    <option>Брянский государственный технический университет</option>
    <option>Российский университет кооперации</option>
    <option>Рыбинский государственный авиационный технический университет имени П.А. Соловьева</option>
    <option>Российский государственный университет туризма и сервиса</option>
    <option>Институт бизнеса и дизайна</option>
    <option>Ярославский государственный технический университет</option>
    <option>Курская академия государственной и муниципальной службы</option>
    <option>Рязанский государственный университет имени С.А. Есенина</option>
    <option>Институт мировых цивилизаций</option>
    <option>Брянский государственный аграрный университет</option>
    <option>Московский государственный гуманитарно-экономический университет</option>
    <option>Смоленский государственный университет</option>
    <option>Институт международного права и экономики имени А.С. Грибоедова</option>
    <option>Калужский государственный университет им. К.Э. Циолковского</option>
    <option>Тверской государственный технический университет</option>
    <option>Брянский государственный университет имени академика И.Г. Петровского</option>
    <option>Воронежский государственный педагогический университет</option>
    <option>Воронежский государственный лесотехнический университет имени Г.Ф. Морозова</option>
    <option>Московский государственный технический университет гражданской авиации</option>
    <option>Московский гуманитарно-экономический университет</option>
    <option>Российская международная академия туризма</option>
    <option>Московский гуманитарный университет</option>
    <option>Липецкий государственный педагогический университет имени П.П.Семенова-Тян-Шанского</option>
    <option>Курская государственная сельскохозяйственная академия имени И.И. Иванова</option>
    <option>"Белгородский университет кооперации</option>
    <option>Гуманитарно-социальный институт</option>
    <option>Московский государственный университет спорта и туризма</option>
    <option>Брянский государственный инженерно-технологический университет</option>
    <option>Московский информационно-технологический университет - Московский архитектурно-строительный институт</option>
    <option>Ивановский государственный политехнический университет</option>
    <option>Костромская государственная сельскохозяйственная академия</option>
    <option>Московский региональный социально-экономический институт (МРСЭИ)</option>
    <option>Смоленская государственная сельскохозяйственная академия</option>
    <option>Институт гуманитарного образования и информационных технологий</option>
    <option>Институт международных экономических связей</option>
    <option>Ярославский государственный аграрный университет</option>
    <option>Ковровская государственная технологическая академия имени В.А. Дегтярева</option>
    <option>Международная академия бизнеса и управления</option>
    <option>Международный институт компьютерных технологий</option>
    <option>Московский социально-педагогический институт</option>
    <option>Верхневолжский государственный агробиотехнологический университет</option>
    <option>Международная академия бизнеса и новых технологий</option>
    <option>Орловский государственный университет экономики и торговли</option>
    <option>Тверская государственная сельскохозяйственная академия</option>
    <option>Институт экономики и культуры</option>
    <option>Институт информационных технологий экономики и менеджмента</option>
    <option>Вятский государственный университет</option>
    <option>Удмуртский государственный университет</option>
    <option>Кировский государственный медицинский университет Минздрава России</option>
    <option>Нижегородский государственный педагогический университет имени Козьмы Минина</option>
    <option>Саратовский государственный аграрный университет имени Н.И.Вавилова</option>
    <option>Ульяновский институт гражданской авиации имени Главного маршала авиации Б.П. Бугаева</option>
    <option>Тольяттинский государственный университет</option>
    <option>Чувашский государственный университет имени И.Н. Ульянова</option>
    <option>Казанский государственный энергетический университет</option>
    <option>Башкирский государственный аграрный университет</option>
    <option>Оренбургский государственный университет</option>
    <option>Оренбургский государственный медицинский университет Минздрава России</option>
    <option>Ижевская государственная медицинская академия Минздрава России</option>
    <option>Поволжский государственный технологический университет</option>
    <option>Пензенский государственный университет архитектуры и строительства</option>
    <option>Казанский государственный архитектурно-строительный университет</option>
    <option>Пермская государственная фармацевтическая академия Минздрава России</option>
    <option>Ульяновский государственный технический университет</option>
    <option>Саратовская государственная юридическая академия</option>
    <option>Казанская государственная академия ветеринарной медицины имени Н.Э. Баумана</option>
    <option>Марийский государственный университет</option>
    <option>Башкирский государственный педагогический университет им. М. Акмуллы</option>
    <option>Чувашский государственный педагогический университет им. И.Я. Яковлева</option>
    <option>Самарский государственный экономический университет</option>
    <option>Оренбургский государственный педагогический университет</option>
    <option>Казанский государственный аграрный университет</option>
    <option>Самарский государственный университет путей сообщения</option>
    <option>Мордовский государственный педагогический институт имени М.Е. Евсевьева</option>
    <option>Нижегородский государственный лингвистический университет им. Н.А.Добролюбова</option>
    <option>Ижевский государственный технический университет имени М.Т. Калашникова</option>
    <option>Нижегородский государственный архитектурно-строительный университет</option>
    <option>Самарский государственный социально-педагогический университет</option>
    <option>Пермский государственный гуманитарно-педагогический университет</option>
    <option>Нижегородский государственный инженерно-экономический университет</option>
    <option>Ульяновский государственный педагогический университет имени И.Н. Ульянова</option>
    <option>Поволжский государственный университет телекоммуникаций и информатики</option>
    <option>Набережночелнинский государственный педагогический университет</option>
    <option>Самарский государственный аграрный университет</option>
    <option>Волжский государственный университет водного транспорта</option>
    <option>Казанский инновационный университет имени В.Г. Тимирясова</option>
    <option>Университет управления ТИСБИ</option>
    <option>Оренбургский государственный аграрный университет</option>
    <option>Пензенский государственный технологический университет</option>
    <option>Пензенский государственный аграрный университет</option>
    <option>Тольяттинская академия управления</option>
    <option>Академия социального образования</option>
    <option>Ижевская государственная сельскохозяйственная академия</option>
    <option>Чувашская государственная сельскохозяйственная академия</option>
    <option>Ульяновский государственный аграрный университет имени П.А.Столыпина</option>
    <option>Глазовский государственный педагогический институт имени В.Г. Короленко</option>
    <option>Вятский государственный агротехнологический университет</option>
    <option>Нижегородская государственная сельскохозяйственная академия</option>
    <option>"Самарский университет государственного управления ""Международный институт рынка"""</option>
    <option>Пермский государственный аграрно-технологический университет имени академика Д.Н. Прянишникова</option>
    <option>Поволжский государственный университет сервиса</option>
    <option>Санкт-Петербургский национальный исследовательский Академический университет им. Ж. И. Алфёрова РАН</option>
    <option>Новгородский государственный университет имени Ярослава Мудрого</option>
    <option>Санкт-Петербургский государственный университет аэрокосмического приборостроения</option>
    <option>Санкт-Петербургский государственный технологический институт (Технический университет)</option>
    <option>Балтийский государственный технический университет ВОЕНМЕХ им. Д.Ф. Устинова</option>
    <option>Санкт-Петербургский государственный химико-фармацевтический университет Минздрава России</option>
    <option>Ленинградский государственный университет имени А.С. Пушкина</option>
    <option>Санкт-Петербургский государственный аграрный университет</option>
    <option>Санкт-Петербургский государственный университет гражданской авиации</option>
    <option>Международный банковский институт имени Анатолия Собчака</option>
    <option>Санкт-Петербургский государственный университет телекоммуникаций им. проф. М.А. Бонч-Бруевича</option>
    <option>Государственный университет морского и речного флота имени адмирала С.О. Макарова</option>
    <option>Череповецкий государственный университет</option>
    <option>Санкт-Петербургский государственный университет ветеринарной медицины</option>
    <option>Санкт-Петербургский медико-социальный институт</option>
    <option>Калининградский государственный технический университет</option>
    <option>Псковский государственный университет</option>
    <option>Сыктывкарский государственный университет имени Питирима Сорокина</option>
    <option>Вологодский государственный университет</option>
    <option>Российский государственный гидрометеорологический университет</option>
    <option>Санкт-Петербургская юридическая академия</option>
    <option>"Государственный институт экономики</option>
    <option>Университет Реавиз</option>
    <option>Санкт-Петербургский Гуманитарный университет профсоюзов</option>
    <option>Университет при Межпарламентской Ассамблее ЕврАзЭС</option>
    <option>Мурманский государственный технический университет</option>
    <option>Ухтинский государственный технический университет</option>
    <option>Мурманский арктический государственный университет</option>
    <option>Санкт-Петербургский государственный лесотехнический университет имени С.М. Кирова</option>
    <option>Вологодская государственная молочнохозяйственная академия имени Н.В.Верещагина</option>
    <option>Санкт-Петербургский университет технологий управления и экономики</option>
    <option>Великолукская государственная сельскохозяйственная академия</option>
    <option>Коми республиканская академия государственной службы и управления</option>
    <option>Санкт-Петербургский государственный институт психологии и социальной работы</option>
    <option>Художественно-технический институт</option>
    <option>Калининградский институт управления</option>
    <option>Кемеровский государственный медицинский университет Минздрава России</option>
    <option>Сибирский государственный университет путей сообщения</option>
    <option>Сибирский государственный университет геосистем и технологий</option>
    <option>Кузбасский государственный технический университет имени Т.Ф. Горбачева</option>
    <option>Иркутский государственный медицинский университет Минздрава России</option>
    <option>Омский государственный аграрный университет имени П.А.Столыпина</option>
    <option>Новосибирский государственный педагогический университет</option>
    <option>Байкальский государственный университет</option>
    <option>Омский государственный университет им. Ф.М. Достоевского</option>
    <option>Новосибирский государственный аграрный университет</option>
    <option>"Новосибирский государственный университет архитектуры</option>
    <option>Хакасский государственный университет им. Н.Ф. Катанова</option>
    <option>Омский государственный педагогический университет</option>
    <option>Иркутский государственный университет путей сообщения</option>
    <option>Томский государственный педагогический университет</option>
    <option>Красноярский государственный аграрный университет</option>
    <option>Братский государственный университет</option>
    <option>Красноярский государственный педагогический университет им. В.П. Астафьева</option>
    <option>Заполярный государственный университет им. Н.М. Федоровского</option>
    <option>Сибирский государственный индустриальный университет</option>
    <option>Тувинский государственный университет</option>
    <option>Новосибирский государственный архитектурно-строительный университет</option>
    <option>Горно-Алтайский государственный университет</option>
    <option>Алтайский государственный педагогический университет</option>
    <option>Сибирский государственный университет телекоммуникаций и информатики</option>
    <option>Омский государственный университет путей сообщения</option>
    <option>Сибирский государственный автомобильно-дорожный университет</option>
    <option>Алтайский государственный аграрный университет</option>
    <option>Кузбасская государственная сельскохозяйственная академия</option>
    <option>Сибирский государственный университет водного транспорта</option>
    <option>Иркутский государственный аграрный университет имени А.А. Ежевского</option>
    <option>Сибирский юридический университет</option>
    <option>Ангарский государственный технический университет</option>
    <option>Алтайский государственный гуманитарно-педагогический университет имени В.М. Шукшина</option>
    <option>Кубанский государственный медицинский университет Минздрава России</option>
    <option>Кубанский государственный университет</option>
    <option>Кубанский государственный аграрный университет имени И.Т. Трубилина</option>
    <option>Ростовский государственный университет путей сообщения</option>
    <option>Государственный морской университет имени адмирала Ф.Ф. Ушакова</option>
    <option>Кубанский государственный технологический университет</option>
    <option>Адыгейский государственный университет</option>
    <option>Калмыцкий государственный университет имени Б.Б. Городовикова</option>
    <option>Волгоградский государственный аграрный университет</option>
    <option>Ростовский государственный экономический университет (РИНХ)</option>
    <option>Донской государственный аграрный университет</option>
    <option>Волгоградский государственный социально-педагогический университет</option>
    <option>Астраханский государственный технический университет</option>
    <option>Сочинский государственный университет</option>
    <option>Майкопский государственный технологический университет</option>
    <option>Кубанский медицинский институт</option>
    <option>Астраханский государственный архитектурно-строительный университет</option>
    <option>Армавирский государственный педагогический университет</option>
    <option>Керченский государственный морской технологический университет</option>
    <option>Академия маркетинга и социально-информационных технологий – ИМСИТ</option>
    <option>Южный университет (ИУБиП)</option>
    <option>Таганрогский институт управления и экономики</option>
    <option>Крымский инженерно-педагогический университет имени Февзи Якубова</option>
    <option>Ростовский институт защиты предпринимателя</option>
    <option>"Волжский институт экономики</option>
    <option>Университет экономики и управления</option>
    <option>Северо-Осетинская государственная медицинская академия Минздрава России</option>
    <option>Дагестанский государственный университет</option>
    <option>Ставропольский государственный медицинский университет Минздрава России</option>
    <option>Чеченский государственный университет имени А. А. Кадырова</option>
    <option>Дагестанский государственный медицинский университет Минздрава России</option>
    <option>Северо-Осетинский государственный университет имени К.Л. Хетагурова</option>
    <option>Дагестанский государственный технический университет</option>
    <option>Горский государственный аграрный университет</option>
    <option>Грозненский государственный нефтяной технический университет имени академика М.Д. Миллионщикова</option>
    <option>Ставропольский государственный педагогический институт</option>
    <option>"Ессентукский институт управления</option>
    <option>Карачаево-Черкесский государственный университет имени У.Д. Алиева</option>
    <option>Северо-Кавказская государственная академия</option>
    <option>Кабардино-Балкарский государственный аграрный университет имени В.М.Кокова</option>
    <option>Владикавказский институт управления</option>
    <option>Северо-Кавказский социальный институт</option>
    <option>Дагестанский государственный аграрный университет имени М.М.Джамбулатова</option>
    <option>Ингушский государственный университет</option>
    <option>Северо-Кавказский горно-металлургический институт</option>
    <option>Дагестанский государственный университет народного хозяйства</option>
    <option>Дагестанский государственный педагогический университет</option>
    <option>Чеченский государственный педагогический университет</option>
    <option>Тихоокеанский государственный медицинский университет Минздрава России</option>
    <option>Дальневосточный государственный университет путей сообщения</option>
    <option>Бурятский государственный университет имени Доржи Банзарова</option>
    <option>Амурский государственный университет</option>
    <option>Морской государственный университет имени адмирала Г.И. Невельского</option>
    <option>Комсомольский-на-Амуре государственный университет</option>
    <option>Забайкальский государственный университет</option>
    <option>Сахалинский государственный университет</option>
    <option>Приамурский государственный университет имени Шолом-Алейхема</option>
    <option>Владивостокский государственный университет</option>
    <option>Бурятская государственная сельскохозяйственная академия имени В.Р. Филиппова</option>
    <option>Дальневосточный государственный аграрный университет</option>
    <option>Благовещенский государственный педагогический университет</option>
    <option>Камчатский государственный технический университет</option>
    <option>Северо-Восточный государственный университет</option>
    <option>Хабаровский государственный университет экономики и права</option>
    <option>Восточно-Сибирский государственный университет технологий и управления</option>
    <option>Приморский государственный аграрно-технологический университет</option>
    <option>Арктический государственный агротехнологический университет</option>
    <option>Дальневосточный государственный технический рыбохозяйственный университет</option>
    <option>Камчатский государственный университет имени Витуса Беринга</option>
    <option>Амурский гуманитарно-педагогический государственный университет</option>
    <option>Челябинский государственный университет</option>
    <option>Технический университет УГМК</option>
    <option>Уральский государственный юридический университет имени В.Ф. Яковлева</option>
    <option>Сургутский государственный университет</option>
    <option>Уральский государственный архитектурно-художественный университет</option>
    <option>Уральский государственный университет путей сообщения</option>
    <option>Уральский государственный аграрный университет</option>
    <option>Уральский государственный педагогический университет</option>
    <option>Сургутский государственный педагогический университет</option>
    <option>Южно-Уральский государственный гуманитарно-педагогический университет</option>
    <option>Уральский государственный горный университет</option>
    <option>Уральский государственный лесотехнический университет</option>
    <option>Нижневартовский государственный университет</option>
    <option>Шадринский государственный педагогический университет</option>
    <option>Южно-Уральский государственный аграрный университет</option>
    <option>Государственный аграрный университет Северного Зауралья</option>
    <option>Гуманитарный университет</option>
    <option>Курганский государственный университет</option>
    <option>Международный институт дизайна и сервиса</option>
    <option>Российский государственный профессионально-педагогический университет</option>
    <option>Курганская государственная сельскохозяйственная академия имени Т.С.Мальцева</option>
    <option>Другой ВУЗ</option>
</select>

{% endblock %}