{% block universities %}
<option value='Московский государственный университет имени М.В. Ломоносова'>Московский государственный университет имени М.В. Ломоносова</option>
<option value='Московский физико-технический институт (национальный исследовательский университет)'>Московский физико-технический институт (национальный исследовательский университет)</option>
<option value='Санкт-Петербургский государственный университет'>Санкт-Петербургский государственный университет</option>
<option value='Национальный исследовательский ядерный университет «МИФИ»'>Национальный исследовательский ядерный университет «МИФИ»</option>
<option value='Московский государственный технический университет имени Н.Э. Баумана (национальный исследовательский университет)'>Московский государственный технический университет имени Н.Э. Баумана (национальный исследовательский университет)</option>
<option value='"Национальный исследовательский университет ""Высшая школа экономики"""'>"Национальный исследовательский университет ""Высшая школа экономики"""</option>
<option value='МГИМО МИД России'>МГИМО МИД России</option>
<option value='Санкт-Петербургский политехнический университет Петра Великого'>Санкт-Петербургский политехнический университет Петра Великого</option>
<option value='Национальный исследовательский Томский политехнический университет'>Национальный исследовательский Томский политехнический университет</option>
<option value=' Уральский федеральный университет имени первого Президента России Б.Н. Ельцина'> Уральский федеральный университет имени первого Президента России Б.Н. Ельцина</option>
<option value='Новосибирский национальный исследовательский государственный университет'>Новосибирский национальный исследовательский государственный университет</option>
<option value=' Финансовый университет при Правительстве РФ'> Финансовый университет при Правительстве РФ</option>
<option value='Российская академия народного хозяйства и государственной службы при Президенте РФ'>Российская академия народного хозяйства и государственной службы при Президенте РФ</option>
<option value='Университет ИТМО'>Университет ИТМО</option>
<option value='Российский экономический университет имени Г.В. Плеханова'>Российский экономический университет имени Г.В. Плеханова</option>
<option value='Первый Московский государственный медицинский университет имени И.М. Сеченова Минздрава России'>Первый Московский государственный медицинский университет имени И.М. Сеченова Минздрава России</option>
<option value='Университет МИСИС'>Университет МИСИС</option>
<option value='Национальный исследовательский Томский государственный университет'>Национальный исследовательский Томский государственный университет</option>
<option value='Российский университет дружбы народов имени Патриса Лумумбы'>Российский университет дружбы народов имени Патриса Лумумбы</option>
<option value='Казанский (Приволжский) федеральный университет'>Казанский (Приволжский) федеральный университет</option>
<option value='Российский национальный исследовательский медицинский университет имени Н.И. Пирогова Минздрава России'>Российский национальный исследовательский медицинский университет имени Н.И. Пирогова Минздрава России</option>
<option value='Московский авиационный институт (национальный исследовательский университет)'>Московский авиационный институт (национальный исследовательский университет)</option>
<option value='"Национальный исследовательский университет ""МЭИ"""'>"Национальный исследовательский университет ""МЭИ"""</option>
<option value=' Сибирский федеральный университет'> Сибирский федеральный университет</option>
<option value='Дальневосточный федеральный университет'>Дальневосточный федеральный университет</option>
<option value='Российский государственный университет нефти и газа (национальный исследовательский университет) имени И.М. Губкина'>Российский государственный университет нефти и газа (национальный исследовательский университет) имени И.М. Губкина</option>
<option value='Московский государственный юридический университет имени О.Е. Кутафина (МГЮА)'>Московский государственный юридический университет имени О.Е. Кутафина (МГЮА)</option>
<option value='Первый Санкт-Петербургский государственный медицинский университет имени академика И.П. Павлова Минздрава России'>Первый Санкт-Петербургский государственный медицинский университет имени академика И.П. Павлова Минздрава России</option>
<option value='Санкт-Петербургский горный университет императрицы Екатерины II'>Санкт-Петербургский горный университет императрицы Екатерины II</option>
<option value='Южный федеральный университет'>Южный федеральный университет</option>
<option value='Московский педагогический государственный университет'>Московский педагогический государственный университет</option>
<option value='Московский государственный лингвистический университет'>Московский государственный лингвистический университет</option>
<option value='Национальный исследовательский Московский государственный строительный университет'>Национальный исследовательский Московский государственный строительный университет</option>
<option value='Всероссийская академия внешней торговли Министерства экономического развития РФ'>Всероссийская академия внешней торговли Министерства экономического развития РФ</option>
<option value='Национальный исследовательский Нижегородский государственный университет имени Н.И. Лобачевского'>Национальный исследовательский Нижегородский государственный университет имени Н.И. Лобачевского</option>
<option value='Российский государственный педагогический университет имени А. И. Герцена'>Российский государственный педагогический университет имени А. И. Герцена</option>
<option value='"Санкт-Петербургский государственный электротехнический университет ""ЛЭТИ"" имени В.И. Ульянова (Ленина)"'>"Санкт-Петербургский государственный электротехнический университет ""ЛЭТИ"" имени В.И. Ульянова (Ленина)"</option>
<option value='Санкт-Петербургский государственный экономический университет'>Санкт-Петербургский государственный экономический университет</option>
<option value='Белгородский государственный национальный исследовательский университет'>Белгородский государственный национальный исследовательский университет</option>
<option value='Казанский государственный медицинский университет Минздрава России'>Казанский государственный медицинский университет Минздрава России</option>
<option value='Российский химико-технологический университет имени Д.И. Менделеева'>Российский химико-технологический университет имени Д.И. Менделеева</option>
<option value='Воронежский государственный университет'>Воронежский государственный университет</option>
<option value='Новосибирский государственный технический университет'>Новосибирский государственный технический университет</option>
<option value='Самарский национальный исследовательский университет имени академика С.П. Королёва'>Самарский национальный исследовательский университет имени академика С.П. Королёва</option>
<option value=' Национальный медицинский исследовательский центр имени В.А. Алмазова'> Национальный медицинский исследовательский центр имени В.А. Алмазова</option>
<option value='Самарский государственный медицинский университет Минздрава России'>Самарский государственный медицинский университет Минздрава России</option>
<option value='Казанский национальный исследовательский технический университет имени А.Н. Туполева-КАИ'>Казанский национальный исследовательский технический университет имени А.Н. Туполева-КАИ</option>
<option value='Российский государственный аграрный университет – МСХА имени К.А. Тимирязева'>Российский государственный аграрный университет – МСХА имени К.А. Тимирязева</option>
<option value='Санкт-Петербургский государственный архитектурно-строительный университет'>Санкт-Петербургский государственный архитектурно-строительный университет</option>
<option value='Северо-Восточный федеральный университет имени М.К. Аммосова'>Северо-Восточный федеральный университет имени М.К. Аммосова</option>
<option value='Уфимский государственный нефтяной технический университет'>Уфимский государственный нефтяной технический университет</option>
<option value='МИРЭА - Российский технологический университет'>МИРЭА - Российский технологический университет</option>
<option value='Южно-Уральский государственный университет (национальный исследовательский университет)'>Южно-Уральский государственный университет (национальный исследовательский университет)</option>
<option value='Российский государственный гуманитарный университет'>Российский государственный гуманитарный университет</option>
<option value='Пермский национальный исследовательский политехнический университет'>Пермский национальный исследовательский политехнический университет</option>
<option value='Ставропольский государственный аграрный университет'>Ставропольский государственный аграрный университет</option>
<option value='"Московский государственный технологический университет ""СТАНКИН"""'>"Московский государственный технологический университет ""СТАНКИН"""</option>
<option value='Алтайский государственный университет'>Алтайский государственный университет</option>
<option value='Тюменский государственный университет'>Тюменский государственный университет</option>
<option value='Санкт-Петербургский государственный педиатрический медицинский университет Минздрава России'>Санкт-Петербургский государственный педиатрический медицинский университет Минздрава России</option>
<option value='Московский городской педагогический университет'>Московский городской педагогический университет</option>
<option value='Южно-Российский государственный политехнический университет (НПИ) имени М.И. Платова'>Южно-Российский государственный политехнический университет (НПИ) имени М.И. Платова</option>
<option value='Государственный университет просвещения (бывший Московский государственный областной университет)'>Государственный университет просвещения (бывший Московский государственный областной университет)</option>
<option value='Сибирский государственный медицинский университет Минздрава России'>Сибирский государственный медицинский университет Минздрава России</option>
<option value='Белгородский государственный технологический университет имени В.Г. Шухова'>Белгородский государственный технологический университет имени В.Г. Шухова</option>
<option value='Томский государственный университет систем управления и радиоэлектроники'>Томский государственный университет систем управления и радиоэлектроники</option>
<option value='Самарский государственный технический университет'>Самарский государственный технический университет</option>
<option value='Технологический университет (г. Королёв)'>Технологический университет (г. Королёв)</option>
<option value='Балтийский федеральный университет имени Иммануила Канта'>Балтийский федеральный университет имени Иммануила Канта</option>
<option value='Рязанский государственный медицинский университет имени академика И.П. Павлова Минздрава России'>Рязанский государственный медицинский университет имени академика И.П. Павлова Минздрава России</option>
<option value=' Северо-Кавказский федеральный университет'> Северо-Кавказский федеральный университет</option>
<option value='"Государственный университет ""Дубна"""'>"Государственный университет ""Дубна"""</option>
<option value='Северо-Западный государственный медицинский университет имени И.И. Мечникова Минздрава России'>Северо-Западный государственный медицинский университет имени И.И. Мечникова Минздрава России</option>
<option value='Казанский национальный исследовательский технологический университет'>Казанский национальный исследовательский технологический университет</option>
<option value='Донской государственный технический университет'>Донской государственный технический университет</option>
<option value='Курский государственный медицинский университет Минздрава России'>Курский государственный медицинский университет Минздрава России</option>
<option value='Приволжский исследовательский медицинский университет Минздрава России'>Приволжский исследовательский медицинский университет Минздрава России</option>
<option value='Национальный исследовательский университет «МИЭТ»'>Национальный исследовательский университет «МИЭТ»</option>
<option value='Саратовский национальный исследовательский государственный университет имени Н.Г. Чернышевского'>Саратовский национальный исследовательский государственный университет имени Н.Г. Чернышевского</option>
<option value='Петрозаводский государственный университет'>Петрозаводский государственный университет</option>
<option value='Башкирский государственный медицинский университет Минздрава России'>Башкирский государственный медицинский университет Минздрава России</option>
<option value='Московский государственный психолого-педагогический университет'>Московский государственный психолого-педагогический университет</option>
<option value='Тюменский индустриальный университет'>Тюменский индустриальный университет</option>
<option value='Волгоградский государственный технический университет'>Волгоградский государственный технический университет</option>
<option value='Государственный социально-гуманитарный университет'>Государственный социально-гуманитарный университет</option>
<option value='Государственный университет управления'>Государственный университет управления</option>
<option value='Волгоградский государственный университет'>Волгоградский государственный университет</option>
<option value=' Московский технический университет связи и информатики'> Московский технический университет связи и информатики</option>
<option value='Воронежский государственный медицинский университет имени Н.Н. Бурденко Минздрава России'>Воронежский государственный медицинский университет имени Н.Н. Бурденко Минздрава России</option>
<option value=' Уральский государственный медицинский университет Минздрава России'> Уральский государственный медицинский университет Минздрава России</option>
<option value='Московский политехнический университет'>Московский политехнический университет</option>
<option value='Кабардино-Балкарский государственный университет имени Х.М. Бербекова'>Кабардино-Балкарский государственный университет имени Х.М. Бербекова</option>
<option value='Курский государственный университет'>Курский государственный университет</option>
<option value='Российский новый университет (РосНОУ)'>Российский новый университет (РосНОУ)</option>
<option value='Кубанский государственный аграрный университет имени И.Т. Трубилина'>Кубанский государственный аграрный университет имени И.Т. Трубилина</option>
<option value=' Волгоградский государственный медицинский университет Минздрава России'> Волгоградский государственный медицинский университет Минздрава России</option>
<option value='Университет Реавиз'>Университет Реавиз</option>
<option value='Саратовский государственный медицинский университет имени В.И. Разумовского'>Саратовский государственный медицинский университет имени В.И. Разумовского</option>
<option value='Санкт-Петербургский государственный морской технический университет'>Санкт-Петербургский государственный морской технический университет</option>
<option value='Российская экономическая школа'>Российская экономическая школа</option>
<option value='Владимирский государственный университет имени Александра Григорьевича и Николая Григорьевича Столетовых'>Владимирский государственный университет имени Александра Григорьевича и Николая Григорьевича Столетовых</option>
<option value='Ярославский государственный университет им. П.Г. Демидова'>Ярославский государственный университет им. П.Г. Демидова</option>
<option value='Российский государственный университет правосудия'>Российский государственный университет правосудия</option>
<option value='Дипломатическая академия Министерства иностранных дел России'>Дипломатическая академия Министерства иностранных дел России</option>
<option value='Смоленский государственный медицинский университет Минздрава России'>Смоленский государственный медицинский университет Минздрава России</option>
<option value='Тульский государственный университет'>Тульский государственный университет</option>
<option value='Ярославский государственный медицинский университет Минздрава России'>Ярославский государственный медицинский университет Минздрава России</option>
<option value='Литературный институт имени А.М. Горького'>Литературный институт имени А.М. Горького</option>
<option value='Рязанский государственный радиотехнический университет имени В.Ф. Уткина'>Рязанский государственный радиотехнический университет имени В.Ф. Уткина</option>
<option value='Российская государственная академия интеллектуальной собственности'>Российская государственная академия интеллектуальной собственности</option>
<option value='Ивановская государственная медицинская академия Минздрава России'>Ивановская государственная медицинская академия Минздрава России</option>
<option value='Тверской государственный университет'>Тверской государственный университет</option>
<option value='Московская государственная академия ветеринарной медицины и биотехнологии - МВА имени К.И. Скрябина'>Московская государственная академия ветеринарной медицины и биотехнологии - МВА имени К.И. Скрябина</option>
<option value='Ивановский государственный энергетический университет имени В.И. Ленина'>Ивановский государственный энергетический университет имени В.И. Ленина</option>
<option value='Российский государственный социальный университет'>Российский государственный социальный университет</option>
<option value='Московский государственный университет технологий и управления имени К.Г. Разумовского'>Московский государственный университет технологий и управления имени К.Г. Разумовского</option>
<option value='Славяно-Греко-Латинская Академия'>Славяно-Греко-Латинская Академия</option>
<option value='Московская высшая школа социальных и экономических наук'>Московская высшая школа социальных и экономических наук</option>
<option value='Московский городской университет управления Правительства Москвы имени Ю.М.Лужкова'>Московский городской университет управления Правительства Москвы имени Ю.М.Лужкова</option>
<option value='Московский государственный университет геодезии и картографии'>Московский государственный университет геодезии и картографии</option>
<option value='Московский архитектурный институт'>Московский архитектурный институт</option>
<option value='Российская таможенная академия'>Российская таможенная академия</option>
<option value='Государственный университет по землеустройству'>Государственный университет по землеустройству</option>
<option value='Государственный академический университет гуманитарных наук'>Государственный академический университет гуманитарных наук</option>
<option value='Академия труда и социальных отношений'>Академия труда и социальных отношений</option>
<option value='Всеросcийский государственный университет юстиции'>Всеросcийский государственный университет юстиции</option>
<option value='Липецкий государственный технический университет'>Липецкий государственный технический университет</option>
<option value='Костромской государственный университет'>Костромской государственный университет</option>
<option value='Мичуринский государственный аграрный университет'>Мичуринский государственный аграрный университет</option>
<option value='Институт стран Востока'>Институт стран Востока</option>
<option value='Елецкий государственный университет им. И.А. Бунина'>Елецкий государственный университет им. И.А. Бунина</option>
<option value='Тульский государственный педагогический университет им. Л.Н. Толстого'>Тульский государственный педагогический университет им. Л.Н. Толстого</option>
<option value='Орловский государственный аграрный университет имени Н.В. Парахина'>Орловский государственный аграрный университет имени Н.В. Парахина</option>
<option value='Воронежский государственный университет инженерных технологий'>Воронежский государственный университет инженерных технологий</option>
<option value='Ярославский государственный педагогический университет им. К.Д. Ушинского'>Ярославский государственный педагогический университет им. К.Д. Ушинского</option>
<option value='Рязанский государственный агротехнологический университет имени П.А.Костычева'>Рязанский государственный агротехнологический университет имени П.А.Костычева</option>
<option value='Воронежский государственный аграрный университет имени императора Петра I'>Воронежский государственный аграрный университет имени императора Петра I</option>
<option value='Белгородский государственный аграрный университет имени В.Я. Горина'>Белгородский государственный аграрный университет имени В.Я. Горина</option>
<option value='Ивановский государственный университет'>Ивановский государственный университет</option>
<option value='Российский государственный геологоразведочный университет имени Серго Орджоникидзе'>Российский государственный геологоразведочный университет имени Серго Орджоникидзе</option>
<option value='Воронежский институт высоких технологий'>Воронежский институт высоких технологий</option>
<option value='Брянский государственный технический университет'>Брянский государственный технический университет</option>
<option value='Российский университет кооперации'>Российский университет кооперации</option>
<option value='Рыбинский государственный авиационный технический университет имени П.А. Соловьева'>Рыбинский государственный авиационный технический университет имени П.А. Соловьева</option>
<option value='Российский государственный университет туризма и сервиса'>Российский государственный университет туризма и сервиса</option>
<option value='Институт бизнеса и дизайна'>Институт бизнеса и дизайна</option>
<option value='Ярославский государственный технический университет'>Ярославский государственный технический университет</option>
<option value='Курская академия государственной и муниципальной службы'>Курская академия государственной и муниципальной службы</option>
<option value='Рязанский государственный университет имени С.А. Есенина'>Рязанский государственный университет имени С.А. Есенина</option>
<option value='Институт мировых цивилизаций'>Институт мировых цивилизаций</option>
<option value='Брянский государственный аграрный университет'>Брянский государственный аграрный университет</option>
<option value='Московский государственный гуманитарно-экономический университет'>Московский государственный гуманитарно-экономический университет</option>
<option value='Смоленский государственный университет'>Смоленский государственный университет</option>
<option value='Институт международного права и экономики имени А.С. Грибоедова'>Институт международного права и экономики имени А.С. Грибоедова</option>
<option value='Калужский государственный университет им. К.Э. Циолковского'>Калужский государственный университет им. К.Э. Циолковского</option>
<option value='Тверской государственный технический университет'>Тверской государственный технический университет</option>
<option value='Брянский государственный университет имени академика И.Г. Петровского'>Брянский государственный университет имени академика И.Г. Петровского</option>
<option value='Воронежский государственный педагогический университет'>Воронежский государственный педагогический университет</option>
<option value='Воронежский государственный лесотехнический университет имени Г.Ф. Морозова'>Воронежский государственный лесотехнический университет имени Г.Ф. Морозова</option>
<option value='Московский государственный технический университет гражданской авиации'>Московский государственный технический университет гражданской авиации</option>
<option value='Московский гуманитарно-экономический университет'>Московский гуманитарно-экономический университет</option>
<option value='Российская международная академия туризма'>Российская международная академия туризма</option>
<option value='Московский гуманитарный университет'>Московский гуманитарный университет</option>
<option value='Липецкий государственный педагогический университет имени П.П.Семенова-Тян-Шанского'>Липецкий государственный педагогический университет имени П.П.Семенова-Тян-Шанского</option>
<option value='Курская государственная сельскохозяйственная академия имени И.И. Иванова'>Курская государственная сельскохозяйственная академия имени И.И. Иванова</option>
<option value='"Белгородский университет кооперации'>"Белгородский университет кооперации</option>
<option value='Гуманитарно-социальный институт'>Гуманитарно-социальный институт</option>
<option value='Московский государственный университет спорта и туризма'>Московский государственный университет спорта и туризма</option>
<option value='Брянский государственный инженерно-технологический университет'>Брянский государственный инженерно-технологический университет</option>
<option value='Московский информационно-технологический университет - Московский архитектурно-строительный институт'>Московский информационно-технологический университет - Московский архитектурно-строительный институт</option>
<option value='Ивановский государственный политехнический университет'>Ивановский государственный политехнический университет</option>
<option value='Костромская государственная сельскохозяйственная академия'>Костромская государственная сельскохозяйственная академия</option>
<option value='Московский региональный социально-экономический институт (МРСЭИ)'>Московский региональный социально-экономический институт (МРСЭИ)</option>
<option value='Смоленская государственная сельскохозяйственная академия'>Смоленская государственная сельскохозяйственная академия</option>
<option value='Институт гуманитарного образования и информационных технологий'>Институт гуманитарного образования и информационных технологий</option>
<option value='Институт международных экономических связей'>Институт международных экономических связей</option>
<option value='Ярославский государственный аграрный университет'>Ярославский государственный аграрный университет</option>
<option value='Ковровская государственная технологическая академия имени В.А. Дегтярева'>Ковровская государственная технологическая академия имени В.А. Дегтярева</option>
<option value='Международная академия бизнеса и управления'>Международная академия бизнеса и управления</option>
<option value='Международный институт компьютерных технологий'>Международный институт компьютерных технологий</option>
<option value='Московский социально-педагогический институт'>Московский социально-педагогический институт</option>
<option value='Верхневолжский государственный агробиотехнологический университет'>Верхневолжский государственный агробиотехнологический университет</option>
<option value='Международная академия бизнеса и новых технологий'>Международная академия бизнеса и новых технологий</option>
<option value='Орловский государственный университет экономики и торговли'>Орловский государственный университет экономики и торговли</option>
<option value='Тверская государственная сельскохозяйственная академия'>Тверская государственная сельскохозяйственная академия</option>
<option value='Институт экономики и культуры'>Институт экономики и культуры</option>
<option value='Институт информационных технологий экономики и менеджмента'>Институт информационных технологий экономики и менеджмента</option>
<option value='Вятский государственный университет'>Вятский государственный университет</option>
<option value='Удмуртский государственный университет'>Удмуртский государственный университет</option>
<option value='Кировский государственный медицинский университет Минздрава России'>Кировский государственный медицинский университет Минздрава России</option>
<option value='Нижегородский государственный педагогический университет имени Козьмы Минина'>Нижегородский государственный педагогический университет имени Козьмы Минина</option>
<option value='Саратовский государственный аграрный университет имени Н.И.Вавилова'>Саратовский государственный аграрный университет имени Н.И.Вавилова</option>
<option value='Ульяновский институт гражданской авиации имени Главного маршала авиации Б.П. Бугаева'>Ульяновский институт гражданской авиации имени Главного маршала авиации Б.П. Бугаева</option>
<option value='Тольяттинский государственный университет'>Тольяттинский государственный университет</option>
<option value='Чувашский государственный университет имени И.Н. Ульянова'>Чувашский государственный университет имени И.Н. Ульянова</option>
<option value='Казанский государственный энергетический университет'>Казанский государственный энергетический университет</option>
<option value='Башкирский государственный аграрный университет'>Башкирский государственный аграрный университет</option>
<option value='Оренбургский государственный университет'>Оренбургский государственный университет</option>
<option value='Оренбургский государственный медицинский университет Минздрава России'>Оренбургский государственный медицинский университет Минздрава России</option>
<option value='Ижевская государственная медицинская академия Минздрава России'>Ижевская государственная медицинская академия Минздрава России</option>
<option value='Поволжский государственный технологический университет'>Поволжский государственный технологический университет</option>
<option value='Пензенский государственный университет архитектуры и строительства'>Пензенский государственный университет архитектуры и строительства</option>
<option value='Казанский государственный архитектурно-строительный университет'>Казанский государственный архитектурно-строительный университет</option>
<option value='Пермская государственная фармацевтическая академия Минздрава России'>Пермская государственная фармацевтическая академия Минздрава России</option>
<option value='Ульяновский государственный технический университет'>Ульяновский государственный технический университет</option>
<option value='Саратовская государственная юридическая академия'>Саратовская государственная юридическая академия</option>
<option value='Казанская государственная академия ветеринарной медицины имени Н.Э. Баумана'>Казанская государственная академия ветеринарной медицины имени Н.Э. Баумана</option>
<option value='Марийский государственный университет'>Марийский государственный университет</option>
<option value='Башкирский государственный педагогический университет им. М. Акмуллы'>Башкирский государственный педагогический университет им. М. Акмуллы</option>
<option value='Чувашский государственный педагогический университет им. И.Я. Яковлева'>Чувашский государственный педагогический университет им. И.Я. Яковлева</option>
<option value='Самарский государственный экономический университет'>Самарский государственный экономический университет</option>
<option value='Оренбургский государственный педагогический университет'>Оренбургский государственный педагогический университет</option>
<option value='Казанский государственный аграрный университет'>Казанский государственный аграрный университет</option>
<option value='Самарский государственный университет путей сообщения'>Самарский государственный университет путей сообщения</option>
<option value='Мордовский государственный педагогический институт имени М.Е. Евсевьева'>Мордовский государственный педагогический институт имени М.Е. Евсевьева</option>
<option value='Нижегородский государственный лингвистический университет им. Н.А.Добролюбова'>Нижегородский государственный лингвистический университет им. Н.А.Добролюбова</option>
<option value='Ижевский государственный технический университет имени М.Т. Калашникова'>Ижевский государственный технический университет имени М.Т. Калашникова</option>
<option value='Нижегородский государственный архитектурно-строительный университет'>Нижегородский государственный архитектурно-строительный университет</option>
<option value='Самарский государственный социально-педагогический университет'>Самарский государственный социально-педагогический университет</option>
<option value='Пермский государственный гуманитарно-педагогический университет'>Пермский государственный гуманитарно-педагогический университет</option>
<option value='Нижегородский государственный инженерно-экономический университет'>Нижегородский государственный инженерно-экономический университет</option>
<option value='Ульяновский государственный педагогический университет имени И.Н. Ульянова'>Ульяновский государственный педагогический университет имени И.Н. Ульянова</option>
<option value='Поволжский государственный университет телекоммуникаций и информатики'>Поволжский государственный университет телекоммуникаций и информатики</option>
<option value='Набережночелнинский государственный педагогический университет'>Набережночелнинский государственный педагогический университет</option>
<option value='Самарский государственный аграрный университет'>Самарский государственный аграрный университет</option>
<option value='Волжский государственный университет водного транспорта'>Волжский государственный университет водного транспорта</option>
<option value='Казанский инновационный университет имени В.Г. Тимирясова'>Казанский инновационный университет имени В.Г. Тимирясова</option>
<option value='Университет управления ТИСБИ'>Университет управления ТИСБИ</option>
<option value='Оренбургский государственный аграрный университет'>Оренбургский государственный аграрный университет</option>
<option value='Пензенский государственный технологический университет'>Пензенский государственный технологический университет</option>
<option value='Пензенский государственный аграрный университет'>Пензенский государственный аграрный университет</option>
<option value='Тольяттинская академия управления'>Тольяттинская академия управления</option>
<option value='Академия социального образования'>Академия социального образования</option>
<option value='Ижевская государственная сельскохозяйственная академия'>Ижевская государственная сельскохозяйственная академия</option>
<option value='Чувашская государственная сельскохозяйственная академия'>Чувашская государственная сельскохозяйственная академия</option>
<option value='Ульяновский государственный аграрный университет имени П.А.Столыпина'>Ульяновский государственный аграрный университет имени П.А.Столыпина</option>
<option value='Глазовский государственный педагогический институт имени В.Г. Короленко'>Глазовский государственный педагогический институт имени В.Г. Короленко</option>
<option value='Вятский государственный агротехнологический университет'>Вятский государственный агротехнологический университет</option>
<option value='Нижегородская государственная сельскохозяйственная академия'>Нижегородская государственная сельскохозяйственная академия</option>
<option value='"Самарский университет государственного управления ""Международный институт рынка"""'>"Самарский университет государственного управления ""Международный институт рынка"""</option>
<option value='Пермский государственный аграрно-технологический университет имени академика Д.Н. Прянишникова'>Пермский государственный аграрно-технологический университет имени академика Д.Н. Прянишникова</option>
<option value='Поволжский государственный университет сервиса'>Поволжский государственный университет сервиса</option>
<option value='Санкт-Петербургский национальный исследовательский Академический университет им. Ж. И. Алфёрова РАН'>Санкт-Петербургский национальный исследовательский Академический университет им. Ж. И. Алфёрова РАН</option>
<option value='Новгородский государственный университет имени Ярослава Мудрого'>Новгородский государственный университет имени Ярослава Мудрого</option>
<option value='Санкт-Петербургский государственный университет аэрокосмического приборостроения'>Санкт-Петербургский государственный университет аэрокосмического приборостроения</option>
<option value='Санкт-Петербургский государственный технологический институт (Технический университет)'>Санкт-Петербургский государственный технологический институт (Технический университет)</option>
<option value='Балтийский государственный технический университет ВОЕНМЕХ им. Д.Ф. Устинова'>Балтийский государственный технический университет ВОЕНМЕХ им. Д.Ф. Устинова</option>
<option value='Санкт-Петербургский государственный химико-фармацевтический университет Минздрава России'>Санкт-Петербургский государственный химико-фармацевтический университет Минздрава России</option>
<option value='Ленинградский государственный университет имени А.С. Пушкина'>Ленинградский государственный университет имени А.С. Пушкина</option>
<option value='Санкт-Петербургский государственный аграрный университет'>Санкт-Петербургский государственный аграрный университет</option>
<option value='Санкт-Петербургский государственный университет гражданской авиации'>Санкт-Петербургский государственный университет гражданской авиации</option>
<option value='Международный банковский институт имени Анатолия Собчака'>Международный банковский институт имени Анатолия Собчака</option>
<option value='Санкт-Петербургский государственный университет телекоммуникаций им. проф. М.А. Бонч-Бруевича'>Санкт-Петербургский государственный университет телекоммуникаций им. проф. М.А. Бонч-Бруевича</option>
<option value='Государственный университет морского и речного флота имени адмирала С.О. Макарова'>Государственный университет морского и речного флота имени адмирала С.О. Макарова</option>
<option value='Череповецкий государственный университет'>Череповецкий государственный университет</option>
<option value='Санкт-Петербургский государственный университет ветеринарной медицины'>Санкт-Петербургский государственный университет ветеринарной медицины</option>
<option value='Санкт-Петербургский медико-социальный институт'>Санкт-Петербургский медико-социальный институт</option>
<option value='Калининградский государственный технический университет'>Калининградский государственный технический университет</option>
<option value='Псковский государственный университет'>Псковский государственный университет</option>
<option value='Сыктывкарский государственный университет имени Питирима Сорокина'>Сыктывкарский государственный университет имени Питирима Сорокина</option>
<option value='Вологодский государственный университет'>Вологодский государственный университет</option>
<option value='Российский государственный гидрометеорологический университет'>Российский государственный гидрометеорологический университет</option>
<option value='Санкт-Петербургская юридическая академия'>Санкт-Петербургская юридическая академия</option>
<option value='"Государственный институт экономики'>"Государственный институт экономики</option>
<option value='Университет Реавиз'>Университет Реавиз</option>
<option value='Санкт-Петербургский Гуманитарный университет профсоюзов'>Санкт-Петербургский Гуманитарный университет профсоюзов</option>
<option value='Университет при Межпарламентской Ассамблее ЕврАзЭС'>Университет при Межпарламентской Ассамблее ЕврАзЭС</option>
<option value='Мурманский государственный технический университет'>Мурманский государственный технический университет</option>
<option value='Ухтинский государственный технический университет'>Ухтинский государственный технический университет</option>
<option value='Мурманский арктический государственный университет'>Мурманский арктический государственный университет</option>
<option value='Санкт-Петербургский государственный лесотехнический университет имени С.М. Кирова'>Санкт-Петербургский государственный лесотехнический университет имени С.М. Кирова</option>
<option value='Вологодская государственная молочнохозяйственная академия имени Н.В.Верещагина'>Вологодская государственная молочнохозяйственная академия имени Н.В.Верещагина</option>
<option value='Санкт-Петербургский университет технологий управления и экономики'>Санкт-Петербургский университет технологий управления и экономики</option>
<option value='Великолукская государственная сельскохозяйственная академия'>Великолукская государственная сельскохозяйственная академия</option>
<option value='Коми республиканская академия государственной службы и управления'>Коми республиканская академия государственной службы и управления</option>
<option value='Санкт-Петербургский государственный институт психологии и социальной работы'>Санкт-Петербургский государственный институт психологии и социальной работы</option>
<option value='Художественно-технический институт'>Художественно-технический институт</option>
<option value='Калининградский институт управления'>Калининградский институт управления</option>
<option value='Кемеровский государственный медицинский университет Минздрава России'>Кемеровский государственный медицинский университет Минздрава России</option>
<option value='Сибирский государственный университет путей сообщения'>Сибирский государственный университет путей сообщения</option>
<option value='Сибирский государственный университет геосистем и технологий'>Сибирский государственный университет геосистем и технологий</option>
<option value='Кузбасский государственный технический университет имени Т.Ф. Горбачева'>Кузбасский государственный технический университет имени Т.Ф. Горбачева</option>
<option value='Иркутский государственный медицинский университет Минздрава России'>Иркутский государственный медицинский университет Минздрава России</option>
<option value='Омский государственный аграрный университет имени П.А.Столыпина'>Омский государственный аграрный университет имени П.А.Столыпина</option>
<option value='Новосибирский государственный педагогический университет'>Новосибирский государственный педагогический университет</option>
<option value='Байкальский государственный университет'>Байкальский государственный университет</option>
<option value='Омский государственный университет им. Ф.М. Достоевского'>Омский государственный университет им. Ф.М. Достоевского</option>
<option value='Новосибирский государственный аграрный университет'>Новосибирский государственный аграрный университет</option>
<option value='"Новосибирский государственный университет архитектуры'>"Новосибирский государственный университет архитектуры</option>
<option value='Хакасский государственный университет им. Н.Ф. Катанова'>Хакасский государственный университет им. Н.Ф. Катанова</option>
<option value='Омский государственный педагогический университет'>Омский государственный педагогический университет</option>
<option value='Иркутский государственный университет путей сообщения'>Иркутский государственный университет путей сообщения</option>
<option value='Томский государственный педагогический университет'>Томский государственный педагогический университет</option>
<option value='Красноярский государственный аграрный университет'>Красноярский государственный аграрный университет</option>
<option value='Братский государственный университет'>Братский государственный университет</option>
<option value='Красноярский государственный педагогический университет им. В.П. Астафьева'>Красноярский государственный педагогический университет им. В.П. Астафьева</option>
<option value='Заполярный государственный университет им. Н.М. Федоровского'>Заполярный государственный университет им. Н.М. Федоровского</option>
<option value='Сибирский государственный индустриальный университет'>Сибирский государственный индустриальный университет</option>
<option value='Тувинский государственный университет'>Тувинский государственный университет</option>
<option value='Новосибирский государственный архитектурно-строительный университет'>Новосибирский государственный архитектурно-строительный университет</option>
<option value='Горно-Алтайский государственный университет'>Горно-Алтайский государственный университет</option>
<option value='Алтайский государственный педагогический университет'>Алтайский государственный педагогический университет</option>
<option value='Сибирский государственный университет телекоммуникаций и информатики'>Сибирский государственный университет телекоммуникаций и информатики</option>
<option value='Омский государственный университет путей сообщения'>Омский государственный университет путей сообщения</option>
<option value='Сибирский государственный автомобильно-дорожный университет'>Сибирский государственный автомобильно-дорожный университет</option>
<option value='Алтайский государственный аграрный университет'>Алтайский государственный аграрный университет</option>
<option value='Кузбасская государственная сельскохозяйственная академия'>Кузбасская государственная сельскохозяйственная академия</option>
<option value='Сибирский государственный университет водного транспорта'>Сибирский государственный университет водного транспорта</option>
<option value='Иркутский государственный аграрный университет имени А.А. Ежевского'>Иркутский государственный аграрный университет имени А.А. Ежевского</option>
<option value='Сибирский юридический университет'>Сибирский юридический университет</option>
<option value='Ангарский государственный технический университет'>Ангарский государственный технический университет</option>
<option value='Алтайский государственный гуманитарно-педагогический университет имени В.М. Шукшина'>Алтайский государственный гуманитарно-педагогический университет имени В.М. Шукшина</option>
<option value='Кубанский государственный медицинский университет Минздрава России'>Кубанский государственный медицинский университет Минздрава России</option>
<option value='Кубанский государственный университет'>Кубанский государственный университет</option>
<option value='Кубанский государственный аграрный университет имени И.Т. Трубилина'>Кубанский государственный аграрный университет имени И.Т. Трубилина</option>
<option value='Ростовский государственный университет путей сообщения'>Ростовский государственный университет путей сообщения</option>
<option value='Государственный морской университет имени адмирала Ф.Ф. Ушакова'>Государственный морской университет имени адмирала Ф.Ф. Ушакова</option>
<option value='Кубанский государственный технологический университет'>Кубанский государственный технологический университет</option>
<option value='Адыгейский государственный университет'>Адыгейский государственный университет</option>
<option value='Калмыцкий государственный университет имени Б.Б. Городовикова'>Калмыцкий государственный университет имени Б.Б. Городовикова</option>
<option value='Волгоградский государственный аграрный университет'>Волгоградский государственный аграрный университет</option>
<option value='Ростовский государственный экономический университет (РИНХ)'>Ростовский государственный экономический университет (РИНХ)</option>
<option value='Донской государственный аграрный университет'>Донской государственный аграрный университет</option>
<option value='Волгоградский государственный социально-педагогический университет'>Волгоградский государственный социально-педагогический университет</option>
<option value='Астраханский государственный технический университет'>Астраханский государственный технический университет</option>
<option value='Сочинский государственный университет'>Сочинский государственный университет</option>
<option value='Майкопский государственный технологический университет'>Майкопский государственный технологический университет</option>
<option value='Кубанский медицинский институт'>Кубанский медицинский институт</option>
<option value='Астраханский государственный архитектурно-строительный университет'>Астраханский государственный архитектурно-строительный университет</option>
<option value='Армавирский государственный педагогический университет'>Армавирский государственный педагогический университет</option>
<option value='Керченский государственный морской технологический университет'>Керченский государственный морской технологический университет</option>
<option value='Академия маркетинга и социально-информационных технологий – ИМСИТ'>Академия маркетинга и социально-информационных технологий – ИМСИТ</option>
<option value='Южный университет (ИУБиП)'>Южный университет (ИУБиП)</option>
<option value='Таганрогский институт управления и экономики'>Таганрогский институт управления и экономики</option>
<option value='Крымский инженерно-педагогический университет имени Февзи Якубова'>Крымский инженерно-педагогический университет имени Февзи Якубова</option>
<option value='Ростовский институт защиты предпринимателя'>Ростовский институт защиты предпринимателя</option>
<option value='"Волжский институт экономики'>"Волжский институт экономики</option>
<option value='Университет экономики и управления'>Университет экономики и управления</option>
<option value='Северо-Осетинская государственная медицинская академия Минздрава России'>Северо-Осетинская государственная медицинская академия Минздрава России</option>
<option value='Дагестанский государственный университет'>Дагестанский государственный университет</option>
<option value='Ставропольский государственный медицинский университет Минздрава России'>Ставропольский государственный медицинский университет Минздрава России</option>
<option value='Чеченский государственный университет имени А. А. Кадырова'>Чеченский государственный университет имени А. А. Кадырова</option>
<option value='Дагестанский государственный медицинский университет Минздрава России'>Дагестанский государственный медицинский университет Минздрава России</option>
<option value='Северо-Осетинский государственный университет имени К.Л. Хетагурова'>Северо-Осетинский государственный университет имени К.Л. Хетагурова</option>
<option value='Дагестанский государственный технический университет'>Дагестанский государственный технический университет</option>
<option value='Горский государственный аграрный университет'>Горский государственный аграрный университет</option>
<option value='Грозненский государственный нефтяной технический университет имени академика М.Д. Миллионщикова'>Грозненский государственный нефтяной технический университет имени академика М.Д. Миллионщикова</option>
<option value='Ставропольский государственный педагогический институт'>Ставропольский государственный педагогический институт</option>
<option value='"Ессентукский институт управления'>"Ессентукский институт управления</option>
<option value='Карачаево-Черкесский государственный университет имени У.Д. Алиева'>Карачаево-Черкесский государственный университет имени У.Д. Алиева</option>
<option value='Северо-Кавказская государственная академия'>Северо-Кавказская государственная академия</option>
<option value='Кабардино-Балкарский государственный аграрный университет имени В.М.Кокова'>Кабардино-Балкарский государственный аграрный университет имени В.М.Кокова</option>
<option value='Владикавказский институт управления'>Владикавказский институт управления</option>
<option value='Северо-Кавказский социальный институт'>Северо-Кавказский социальный институт</option>
<option value='Дагестанский государственный аграрный университет имени М.М.Джамбулатова'>Дагестанский государственный аграрный университет имени М.М.Джамбулатова</option>
<option value='Ингушский государственный университет'>Ингушский государственный университет</option>
<option value='Северо-Кавказский горно-металлургический институт'>Северо-Кавказский горно-металлургический институт</option>
<option value='Дагестанский государственный университет народного хозяйства'>Дагестанский государственный университет народного хозяйства</option>
<option value='Дагестанский государственный педагогический университет'>Дагестанский государственный педагогический университет</option>
<option value='Чеченский государственный педагогический университет'>Чеченский государственный педагогический университет</option>
<option value='Тихоокеанский государственный медицинский университет Минздрава России'>Тихоокеанский государственный медицинский университет Минздрава России</option>
<option value='Дальневосточный государственный университет путей сообщения'>Дальневосточный государственный университет путей сообщения</option>
<option value='Бурятский государственный университет имени Доржи Банзарова'>Бурятский государственный университет имени Доржи Банзарова</option>
<option value='Амурский государственный университет'>Амурский государственный университет</option>
<option value='Морской государственный университет имени адмирала Г.И. Невельского'>Морской государственный университет имени адмирала Г.И. Невельского</option>
<option value='Комсомольский-на-Амуре государственный университет'>Комсомольский-на-Амуре государственный университет</option>
<option value='Забайкальский государственный университет'>Забайкальский государственный университет</option>
<option value='Сахалинский государственный университет'>Сахалинский государственный университет</option>
<option value='Приамурский государственный университет имени Шолом-Алейхема'>Приамурский государственный университет имени Шолом-Алейхема</option>
<option value='Владивостокский государственный университет'>Владивостокский государственный университет</option>
<option value='Бурятская государственная сельскохозяйственная академия имени В.Р. Филиппова'>Бурятская государственная сельскохозяйственная академия имени В.Р. Филиппова</option>
<option value='Дальневосточный государственный аграрный университет'>Дальневосточный государственный аграрный университет</option>
<option value='Благовещенский государственный педагогический университет'>Благовещенский государственный педагогический университет</option>
<option value='Камчатский государственный технический университет'>Камчатский государственный технический университет</option>
<option value='Северо-Восточный государственный университет'>Северо-Восточный государственный университет</option>
<option value='Хабаровский государственный университет экономики и права'>Хабаровский государственный университет экономики и права</option>
<option value='Восточно-Сибирский государственный университет технологий и управления'>Восточно-Сибирский государственный университет технологий и управления</option>
<option value='Приморский государственный аграрно-технологический университет'>Приморский государственный аграрно-технологический университет</option>
<option value='Арктический государственный агротехнологический университет'>Арктический государственный агротехнологический университет</option>
<option value='Дальневосточный государственный технический рыбохозяйственный университет'>Дальневосточный государственный технический рыбохозяйственный университет</option>
<option value='Камчатский государственный университет имени Витуса Беринга'>Камчатский государственный университет имени Витуса Беринга</option>
<option value='Амурский гуманитарно-педагогический государственный университет'>Амурский гуманитарно-педагогический государственный университет</option>
<option value='Челябинский государственный университет'>Челябинский государственный университет</option>
<option value='Технический университет УГМК'>Технический университет УГМК</option>
<option value='Уральский государственный юридический университет имени В.Ф. Яковлева'>Уральский государственный юридический университет имени В.Ф. Яковлева</option>
<option value='Сургутский государственный университет'>Сургутский государственный университет</option>
<option value='Уральский государственный архитектурно-художественный университет'>Уральский государственный архитектурно-художественный университет</option>
<option value='Уральский государственный университет путей сообщения'>Уральский государственный университет путей сообщения</option>
<option value='Уральский государственный аграрный университет'>Уральский государственный аграрный университет</option>
<option value='Уральский государственный педагогический университет'>Уральский государственный педагогический университет</option>
<option value='Сургутский государственный педагогический университет'>Сургутский государственный педагогический университет</option>
<option value='Южно-Уральский государственный гуманитарно-педагогический университет'>Южно-Уральский государственный гуманитарно-педагогический университет</option>
<option value='Уральский государственный горный университет'>Уральский государственный горный университет</option>
<option value='Уральский государственный лесотехнический университет'>Уральский государственный лесотехнический университет</option>
<option value='Нижневартовский государственный университет'>Нижневартовский государственный университет</option>
<option value='Шадринский государственный педагогический университет'>Шадринский государственный педагогический университет</option>
<option value='Южно-Уральский государственный аграрный университет'>Южно-Уральский государственный аграрный университет</option>
<option value='Государственный аграрный университет Северного Зауралья'>Государственный аграрный университет Северного Зауралья</option>
<option value='Гуманитарный университет'>Гуманитарный университет</option>
<option value='Курганский государственный университет'>Курганский государственный университет</option>
<option value='Международный институт дизайна и сервиса'>Международный институт дизайна и сервиса</option>
<option value='Российский государственный профессионально-педагогический университет'>Российский государственный профессионально-педагогический университет</option>
<option value='Курганская государственная сельскохозяйственная академия имени Т.С.Мальцева'>Курганская государственная сельскохозяйственная академия имени Т.С.Мальцева</option>
{% endblock %}